<!doctype html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <!-- Other meta tags and CSS links -->
    
        <!-- Firebase Analytics -->
        <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-analytics.js"></script>
        <script>
          // Firebase configuration
          var firebaseConfig = {
            apiKey: "{{ site.firebase.apiKey }}",
            authDomain: "{{ site.firebase.authDomain }}",
            projectId: "{{ site.firebase.projectId }}",
            storageBucket: "{{ site.firebase.storageBucket }}",
            messagingSenderId: "{{ site.firebase.messagingSenderId }}",
            appId: "{{ site.firebase.appId }}",
            measurementId: "{{ site.firebase.measurementId }}"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
          firebase.analytics();
        </script>

    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 40px auto;
            max-width: 800px;
            padding: 0 20px;
        }
        </style>
    </head>
    
    <body>
        <main class="main" aria-label="Content">{{ content }}</main>
    </body>
</html>
